<div class="max-w-4xl mx-auto p-4 bg-white shadow-lg rounded-lg">
  <!-- Selector de ciudad -->
  <div class="mb-4">
    <label for="city-select" class="block text-gray-700"
      >Selecciona la ciudad de destino</label
    >
    <select
      id="city-select"
      class="w-full p-2 border rounded-md"
      [(ngModel)]="selectedCity"
    >
      <option value="">Selecciona una ciudad</option>
      <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
    </select>
  </div>

  <!-- Selector de fecha -->
  <div class="mb-4">
    <label for="date-input" class="block text-gray-700"
      >Selecciona la fecha de llegada</label
    >
    <input
      type="date"
      id="date-input"
      class="w-full p-2 border rounded-md"
      [(ngModel)]="selectedDate"
    />
  </div>

  <!-- Botón de búsqueda -->
  <button
    (click)="searchTrips()"
    class="w-full p-2 bg-orange-500 text-white rounded-md"
  >
    Buscar
  </button>

  <!-- Lista de viajes -->
  <h2 class="mt-8 text-xl font-semibold">Próximos viajes</h2>
  <div class="mt-4 overflow-y-auto max-h-96">
    <div *ngIf="trips.length === 0" class="text-center text-gray-500">
      No hay viajes disponibles para la ciudad y fecha seleccionadas.
    </div>
    <div
      *ngFor="let trip of trips"
      class="mb-4 bg-gray-100 p-4 rounded-md shadow-md flex justify-between items-center"
    >
      <div>
        <p class="text-lg font-bold">
          {{ trip.ciudad_salida }} → {{ trip.ciudad_destino }}
        </p>
        <p class="text-sm text-gray-600">
          Llegada: {{ trip.fecha_salida | date : "shortDate" : "UTC" }}
        </p>
        <p class="text-sm text-gray-600">
          Regreso: {{ trip.fecha_regreso | date : "shortDate": "UTC" }}
        </p>
      </div>
      <button class="text-blue-500 underline" (click)="viewDetails(trip.id)">
        Ver detalles
      </button>
    </div>
  </div>
</div>
<app-navbar></app-navbar>
