<!-- login.component.html -->
<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <button
    class="absolute top-4 left-4 text-3xl bg-transparent border-none cursor-pointer"
    [routerLink]="['/login']"
  >
    &times;
  </button>
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-sm">
    <h2 class="text-2xl font-semibold text-center mb-6">Iniciar Sesión</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" method="post" class="space-y-4">
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700">Correo Electrónico</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
          placeholder="Introduce tu correo"
          required
        />
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-red-500 text-sm mt-1">
          El correo es obligatorio y debe ser válido.
        </div>
      </div>

      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
          placeholder="Introduce tu contraseña"
          required
        />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-red-500 text-sm mt-1">
          La contraseña es obligatoria.
        </div>
      </div>

      <button
        type="submit"
        [disabled]="loginForm.invalid"
        class="w-full mt-4 py-2 px-4 bg-blue-600 text-white font-semibold rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
      >
        Iniciar Sesión
      </button>
    </form>

    <div class="mt-4 text-center">
      <p class="text-sm text-gray-600">¿No tienes cuenta? <a [routerLink]="['/login/sign-up']" class="text-blue-600 hover:underline">Regístrate</a></p>
    </div>
  </div>
</div>
