<div
  class="navbar fixed bottom-0 left-0 w-full bg-white shadow-md flex justify-around p-3"
>
  <a
    [routerLink]="['/pages/dashboard']"
    routerLinkActive="active"
    class="text-center"
  >
    <span class="icon block text-xl mb-1">
      <i class="fas fa-home"></i>
    </span>
    <span class="label text-sm">Inicio</span>
  </a>
  <a
    [routerLink]="['/pages/new/new-trip']"
    routerLinkActive="active"
    class="text-center"
  >
    <span class="icon block text-xl mb-1">
      <i class="fas fa-plus-circle"></i>
    </span>
    <span class="label text-sm">Agregar</span>
  </a>
  <a
    [routerLink]="['/pages/notifications']"
    routerLinkActive="active"
    class="relative text-center"
  >
    <span class="icon block text-xl mb-1">
      <i class="fas fa-bell"></i>
    </span>
    <span
      *ngIf="notificationCount > 0"
      class="absolute top-0 right-0 bg-red-600 text-white text-xs rounded-full w-4 h-4 flex items-center justify-center"
    >
      {{ notificationCount }}
    </span>
    <span class="label text-sm">Notificaciones</span>
  </a>
  <a
    [routerLink]="['/pages/profile']"
    routerLinkActive="active"
    class="text-center"
  >
    <span class="icon block text-xl mb-1">
      <i class="fas fa-user"></i>
    </span>
    <span class="label text-sm">Perfil</span>
  </a>
</div>
